# Proxy
#  Passwall
CONFIG_PACKAGE_luci-app-passwall=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Haproxy=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Libev_Server=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_ShadowsocksR_Libev_Client=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_SingBox=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_Trojan_Plus=n
CONFIG_PACKAGE_luci-app-passwall_INCLUDE_V2ray_Plugin=n

# ❌ 不需要：已经被 Meta 内核取代/过时
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Core_Go=y
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Core_Rust=n

CONFIG_PACKAGE_luci-app-openclash_INCLUDE_V2ray=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Xray=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Shadowsocks_Libev=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Shadowsocks_Rust=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Shadowsocks_Rust_Client=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_ShadowsocksR_Libev=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Simple_Obfs=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Go_Tun2Socks=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_Pdnsd=n
CONFIG_PACKAGE_luci-app-openclash_INCLUDE_ChinaDNS=n
